body{
    background-color: beige;
}
.social-media{
    display: flex;
    align-items: center;
}
.social-media-icon {
    width: 40px;
    margin-right: 8px;
}
.find-me{
    margin-right: 8px;
}
.carousel-item {
    width: 50%;
    align-items: center;
}